body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: #fafafa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 40px 0px 50px 0px;
  margin: 16% auto;
  box-shadow: 1px 0px 16px #9eb5b5;
}

.title {
  font-weight: normal;
}

.btn {
  background-color: #fad105;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #e5ca40;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
}

.btn:hover {
  background-color: #e5ca40;
}

/* Disk */
.disk__container {
  display: flex;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 15px 15px;
}

/* Uploads */
.uploads {
  width: 280px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
}

p {
  background-color: #fafafa;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  padding: 10px 15px;
  width: 185px;
}

p:hover {
  background-color: #e5e3e3;
}

/* Files */
.files {
  margin: auto;
  padding-bottom: 30px;
}

.files__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* File */
.file__container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: 100px;
  cursor: pointer;
  border-radius: 6px;
}

.file__container:hover {
  background-color: #bbbbbb17;
}

.file__name {
  display: block;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
  word-wrap: break-word;
  max-height: 45px;
  overflow: hidden;
}

.file__selected {
  background-color: #e2e9e7;
}

.file__selected:hover {
  background-color: #e2e9e7;
}

/* DeleteToolbar */
.delete {
  background-color: #262222;
  border-radius: 0px 0px 10px 10px;
  padding: 20px 15px;
  margin: 0px 15px;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s ease-in all;
  transform: translateY(0);
}

.hidden {
  transform: translateY(-110%);
}

.delete__btn {
  background-color: #262222;
  color: #ffffff;
  border: 1px solid #262222;
  cursor: pointer;
  font-size: 15px;
  margin-right: 25px;
}

.delete__btn:hover {
  background-color: #262222;
  color: #b2adad;
}

.deselect__btn {
  background-color: #262222;
  color: #ffffff;
  border: 1px solid #262222;
  cursor: pointer;
  font-size: 15px;
}

.deselect__btn:hover {
  background-color: #262222;
  color: #b2adad;
}

/* Progressbar */
.progressbar {
  display: flex;
  flex-direction: column;
  width: 430px;
  position: fixed;
  bottom: 0%;
  right: 2%;
  transition: 0.5s ease-in all;
}

.progressbar-hidden {
  transform: translateY(100%);
}

.progressbar__header {
  position: relative;
  background-color: #262222;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 17px;
  color: #ffffff;
  overflow: hidden;
  z-index: 1;
}

.progressbar__loaded-total {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.progressbar__btn {
  display: flex;
}

.progressbar__collapse {
  color: #ffffff;
  cursor: pointer;
  margin-right: 22px;
}

.progressbar__collapse:hover {
  color: #b2adad;
}

.progressbar__close {
  color: #ffffff;
  cursor: pointer;
}

.progressbar__close:hover {
  color: #b2adad;
}

.progressbar__wrapper {
  background-color: #f0f0f0;
  padding-bottom: 20px;
  height: 36vh;
  overflow-y: auto;
  transition: 0.5s;
}

.progressbar__wrapper-collapsed {
  height: 0;
  padding: 0;
}

.progressbar__upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

.progressbar__file {
  display: inline-block;
  height: 2.5em;
  width: 78%;
  overflow: hidden;
  word-wrap: break-word;
}

.progressbar__loadingBar {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 5px;
  border-radius: 5px;
  background-color: #bac1c7;
}

.progressbar__loaded {
  height: 100%;
  transition: 0.1s;
  background-color: #4796e1;
}